<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106915844773-l67htav0e96lrkif8f7aha41oe9nmo22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106915844773-l67htav0e96lrkif8f7aha41oe9nmo22</string>
	<key>API_KEY</key>
	<string>AIzaSyDst7p05jrGPkemuDXJMzaZg75Dch2cWRc</string>
	<key>GCM_SENDER_ID</key>
	<string>106915844773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vaif.Vaif-R2---VPN</string>
	<key>PROJECT_ID</key>
	<string>vaifr2-vpn</string>
	<key>STORAGE_BUCKET</key>
	<string>vaifr2-vpn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106915844773:ios:51ebae028e56bfe6bbb34c</string>
	<key>DATABASE_URL</key>
	<string>https://vaifr2-vpn-default-rtdb.firebaseio.com</string>
</dict>
</plist>